<?xml version='1.0'?>
<!DOCTYPE variablelist PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
]>

<% siteURL="https://issues.jboss.org/browse" %>
<variablelist>
   <% issues.each do |issue| 
      release_note_text = issue.getCustomFieldValueForID("customfield_12310211").to_s

      #if the first line of  RNText starts with siteURL
      finalURL = release_note_text.split("\n")[0].to_s
      if finalURL.start_with?(siteURL) then 
         release_note_text = release_note_text.gsub(finalURL+"\n","")
      else 
         finalURL = siteURL+"/"+issue.key
      end
   %>
   <!-- <%= siteURL %>/<%= issue.key %> -->
   <varlistentry>
      <term><ulink url="<%= finalURL %>" /></term>
      <listitem>
         <% if (issue.security_level == "Public") then %>
         <para>
         <%= release_note_text.to_x  %>
         </para>
         <% else %>
         <warning>
            <title>Not Public Yet - <%= issue.security_level %></title>
            <para>
            <%= release_note_text.to_x  %>
            </para>
         </warning>
         <% end %>
      </listitem>
   </varlistentry>
<% end %>
</variablelist>
