<!-- release notes text 12310211 -->
<!-- release notes status -->
<!-- writer -->

<% siteURL="https://issues.jboss.org/browse" %>
<variablelist>
   <% issues.each do |issue| 
      #if the first line of  RNText starts with siteURL
      release_note_text = issue.getCustomFieldValueForID("customfield_12310211").to_s
      finalURL = release_note_text.split("\n")[0].to_s
      if finalURL.start_with?(siteURL) then 
         release_note_text = release_note_text.gsub(finalURL+"\n","")
      else 
         finalURL = siteURL+"/"+issue.key
      end
   %>
   <!-- <%= finalURL %> -->
   <varlistentry>
      <term><ulink url="<%= siteURL %>/<%= issue.key %>" /></term>
      <listitem>
         <% if (issue.security_level == "Public") then %>
         <para>
         <%= release_note_text.to_x  %>
         </para>
         <% else %>
         <warning>
            <title>Not Public Yet - <%= issue.security_level %></title>
            <para>
            <%= release_note_text.to_x  %>
            </para>
         </warning>
         <% end %>
      </listitem>
   </varlistentry>
<% end %>
</variablelist>
